{% extends "base.html" %}

{% block content %}
<form method="post" action="">{% csrf_token %}
  <p>Reset your password:</p>

  <p>
    <label for="password" >New Password:</label>
    <input id="password" name="password" type="password" value="" />
  </p>

  <p>
    <label for="password_verification" >New Password verification:</label>
    <input id="password_verification" name="password_verification" type="password" value="" />
  </p>

  {% if errors %}
    <ul>
      {% for err in errors %}
        <li>{{ err }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <button>Reset</button>
</form>
{% endblock %}
